/* const buttonStyle = {
    fontSize:"16px",
    backgroundColor: "#00a5ab",
    width:"100px",
    margin:"10px",
    color:"white",
    padding:"15px",
    borderRadius:"30px"
}; */

.counterButton {
    font-size:16px;
    background-color: #00a5ab;
    width:100px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:30px;
    border-color: black;
    border-width: 5px;
}

.totalCount {
    font-size: 120px;
    color:  #00a5ab;
}